# Инвентаризация/деплой. Не передавать весь этот файл в runtime контейнера.
EDS_PROJECT_ID=''
EDS_API_KEY=''
EDS_APPLICATION_ID=''
EDS_REPOSITORY_ID=''
CLOUDRU_PROJECT_ID=''
CLOUDRU_IAM_KEY_ID=''
CLOUDRU_IAM_KEY_SECRET=''
CLOUDRU_REGISTRY_NAME='alice-pro'
CLOUDRU_REPOSITORY_NAME='alice-pro'
CLOUDRU_CONTAINER_NAME='alice-pro'
CLOUDRU_CONTAINER_CPU='0.5'
CLOUDRU_MIN_INSTANCES='0'
CLOUDRU_MAX_INSTANCES='1'
